# Build artifacts
.build/
*.xcodeproj/

# macOS
.DS_Store

# Swift Package Manager
Package.resolved

# Xcode
*.xcworkspace/
DerivedData/

# Swift
*.swiftdoc
*.swiftmodule
*.swiftsourceinfo 
/.swiftpm/
